<h1>Listing posts</h1>
<ul>
<% @posts.each do |post| %>
  <li>
    <h2><a href="/posts/<%= post.id %>"><%= post.title %></a></h2>
    <span><%= post_preview(post) %></span><br/></br>
    <span><%= pretty_date(post.created_at) %></span>
  </li>

<% end %>
</ul>
